%h5 Editing Survey

= simple_form_for @form, as: :survey, url: admin_survey_path(@model.id), method: :patch do |f|
  .row
    .col= f.error_notification
  .row
    .col= f.input :name, placeholder: "Name", label: false
  .row
    .col= f.input :description, placeholder: "Description", label: false
  .row
    .col= f.input :vote_max, placeholder: "Total Votes", label: false
  .row
    .col= f.button :submit, "Update Survey", class: "btn-primary"
.row
  .col= link_to "Cancel", admin_surveys_path
