%h5= (@surveys.empty? ? "No " : "") + "Existing Surveys"

.row
  .col
    - @surveys.each do |s|
      %p.survey
        = link_to "edit", edit_admin_survey_path(s.id)
        |
        = link_to "questions", admin_survey_path(s.id)
        |
        = link_to "invite", new_admin_survey_survey_invite_path(s.id)
        |
        = link_to "test", admin_survey_test_path(s.id)
        |
        = link_to "notes", admin_survey_notes_path(s.id)
        |
        = link_to "del", admin_survey_path(s.id), data: { method: "delete", confirm: "Really delete #{s.name}?", token: @token }
        %span.survey-name= s.name

= link_to "New Survey", new_admin_survey_path, class: "btn btn-secondary"
