%h5= "Report for #{@survey.name}"

= link_to "Back", admin_survey_url(@survey), class: "user-back btn btn-secondary"

= cell(Survey::Cell::SurveyReportSummary, {invites: @survey_invites, invites_hash: @survey_invites_hash, list: @list, token: @token})

#survey-container
  - @survey_questions.each_pair do |sg, asq|
    .survey-group-container.jumbotron.jumbotron-fluid{ id: "survey-group-#{sg.id}" }
      %h1.display-4.survey-group-name= sg.name
      %p.survey-group-description= sg.description
      %hr
      - if sg.voted?
        = cell(Survey::Cell::SurveyNoteReport, {survey_questions: asq})
      - else
        #survey-questions-container
          - asq.each do |sq|
            = cell(Survey::Cell::SurveyReport, {survey_invites: @survey_invites, survey_question: sq})

= link_to "Back", admin_survey_url(@survey)
