%h5= (@members.empty? ? "No " : "") + "Existing Members"
%p= link_to "Add Member", new_admin_member_url

%table{ class: "members table table-bordered table-striped" }
  %thead
    %tr
      %th Name
      %th Email
      %th Status
  %tbody
    - @members.each do |m|
      %tr
        %td.member-name
          = link_to m.name, m.profile_url
        %td.member-email
          = link_to m.email, "mailto:#{ m.email }"
        %td.member-status= m.status
