.note{ id: id, data: {url: patch_url, token: token, id: question_id}, style: "background-color: #{color}; top: #{top}px; left: #{left}px;" }
  .main
    %p.note-group-name= group_name
    %p.note-text= text
    %p.survey-answer-vote{ data: {group_position: group_position} }
      = voting_controls
