%h4= (@moderations.empty? ? "No " : "") + "Moderations"

= link_to "New moderation", new_admin_moderation_path, class: "btn btn-primary"

.row
  .col
    - @moderations.each do |moderation|
      %p.moderation
        %span.token= link_to moderation.token, admin_moderation_path(token: moderation.token)
        = " --- created at #{moderation.created_at}"

= link_to "violations", admin_violations_path
