.row
  .col
    %h5 Moderation Information:
    %p
      %b Link:
      = link_to @moderation.url, @moderation.url
    %b Original text:
    .post-original
      .text= (@moderation.original_text || "(not recorded yet)").html_safe
    %p
      %b Member name:
      = @moderation.user_name
    %p
      %b Moderator:
      = @moderation.moderator_name
    %h5 Violation(s):
    %ul
      - @moderation.violations.each do |violation|
        %li= violation.name
    %p
      %b Reply:
      = @moderation.reply
    %p
      %b Status:
      = Moderation::STATUS.key(@moderation.state)
    %p
      %b Created:
      = @moderation.created_at

.row
  .col= link_to "< Back", admin_moderations_path
