= link_to("👈 Back", admin_moderations_url, class: "user-back btn btn-secondary")

.row
  .col
    %h5 Moderation Information
    %p
      %b Link:
      = link_to @moderation.url, @moderation.url
    %p
      %b Member name:
      = @moderation.user_name
    %p
      %b Moderator:
      = @moderation.moderator_name
    %h5 Violation(s):
    %ul
      - @moderation.violations.each do |violation|
        %li= violation.name
    %p
      %b Reply:
      = @moderation.reply
    %p
      %b Status:
      = @moderation.get_state
    %p
      %b Created:
      = @moderation.created_at
    %b Original text:
    .post-original
      .text= (@moderation.original_text || "(not recorded yet)").html_safe

%p= @moderation.token
