%h5= "Moderation #{@moderation.token}"

.row
  .col
    %p= link_to @moderation.url, @moderation.url
    %p= "Original text: #{@moderation.original_text}"
    %p= "Member name: #{@moderation.user_name}"
    %p= "Moderator: #{@moderation.moderator_name}"
    %h5 Violations:
    %ul
      - @moderation.violations.each do |violation|
        %li= violation.name
    %p= "Reply: #{@moderation.reply}"
    %p= "Created #{@moderation.created_at}"

.row
  .col= link_to "< Back", admin_moderations_path
