%h5= (@greeters.empty? ? "No " : "") + "Existing Greeters"

%table{ class: "greeters table table-bordered table-striped" }
  %thead
    %tr
      %th Name
      %th Email
      %th Status
      %th Actions
  %tbody
    - @greeters.each do |g|
      %tr
        %td.greeter-name
          = link_to g.member.name, g.member.profile_url
        %td.greeter-email
          = link_to g.member.email, "mailto:#{ g.member.email }"
        %td.greeter-status= g.member.status
        %td.greeter-actions
          = link_to "remove", admin_greeter_path(g.id), data: { turbo_method: "delete", turbo_confirm: "Really remove #{g.member.name} as a Greeter?" }
