%hr
.survey-question
  - notes_ranked_with_votes.each do |nv|
    %p.note
      = nv[:note].text
      %br
      - if names
        - nv[:answers].each do |a|
          = "&nbsp;&nbsp;&nbsp;&nbsp;#{a.vote_count} -- "
          %b= "#{a.user_name}"
          %br
      - else
        %b= "Votes:<br />&nbsp;&nbsp;&nbsp;#{nv[:votes]} vote count<br />&nbsp;&nbsp;&nbsp;#{nv[:voters]} voters: #{nv[:counts].join(' ')}<br />&nbsp;&nbsp;&nbsp;#{nv[:zeros]} no votes<br />&nbsp;&nbsp;&nbsp;Average: #{nv[:average]}"
