%h5 New Violation

= simple_form_for @form, as: :violation, url: admin_violations_path do |f|
  .row
    .col= f.error_notification
  .row
    .col= f.input :name, placeholder: "Name", label: false
  .row
    .col= f.input :description, as: :text, placeholder: "Description", label: false
  .row
    .col= f.input :template, as: :text, placeholder: "Reply Template", label: false
  .row
    .col= f.button :submit, "Submit", class: "btn-primary"
.row
  .col= link_to "Cancel", admin_violations_path

