= simple_form_for @form, as: :survey_invite, url: take_survey_path(survey_token: @survey.token) do |f|
  .row
    .col= f.error_notification
  .row
    .col
      %h2= "Survey: #{@survey.name}"
      %p .
      %h4 To take, please enter only one:
  .row
    .col
      %input.form-control{name: :user_email, placeholder: "The email you used to join Mighty Networks", label: false}
      %p OR
  .row
    .col
      %input.form-control{name: :user_name, placeholder: "The name you use in Emergent Commons", label: false}
  .row
    .col= f.button :submit, "Start Survey", class: "btn-primary"
