- if @survey_questions
  %p.survey-name= @survey.name
  %p.survey-description= @survey.description

  #survey-container
    - @survey_questions.each_pair do |sg, asq|
      .survey-group-container.jumbotron.jumbotron-fluid{ id: "survey-group-#{sg.id}" }
        %h1.display-4.survey-group-name= sg.name
        %p.survey-group-description= sg.description
        %hr      
        #survey-questions-container
          - asq.each do |sq|
            = cell(SurveyInvite::Cell::SurveyQuestion, {survey_invite: @survey_invite, survey_question: sq, patch_url: @patch_url, token: @token})

.links
  = link_to "< Prev", @prev_url, class: "btn btn-warning" if @prev_url
  = link_to "Next >", @next_url, class: "btn btn-success" if @next_url
  = link_to "Finish", @finish_url, class: "btn btn-primary" if @finish_url

- if @notes
  #notes-container.notes
    - if @survey_group.get_note_style == :stickies
      - @notes.each do |note|
        = cell(Note::Cell::Survey, {note: note, invite: @survey_invite, patch_url: @patch_url, token: @token})
      - if @live_view_url
        .live-view{ data: {timestamp: @live_view_timestamp, url: @live_view_url} }
    - elsif @survey_group.get_note_style == :voted
      %h4= @survey_group.name
      - puts @notes.inspect
      - @notes.each_with_index do |note, i|
        = cell(Note::Cell::Voted, {note: note, i: i, invite: @survey_invite, patch_url: @patch_url, token: @token})
    - elsif @survey_group.get_note_style == :ranked
      .sortable
        Drag and drop the following to rank each
        - @notes.each do |note|
          = cell(Note::Cell::Ranked, {note: note, invite: @survey_invite, patch_url: @patch_url, token: @token})

- if @template
  #note-template.hidden
    = cell(Note::Cell::Survey, {note: @template, invite: @survey_invite, patch_url: @patch_url, token: @token})
