%p.survey-name= @survey.name
%p.survey-description= @survey.description

#survey-container
  - @survey_questions.each_pair do |sg, asq|
    .survey-group-container.jumbotron.jumbotron-fluid{ id: "survey-group-#{sg.id}" }
      %h1.display-4.survey-group-name= @survey_group.name
      %p.survey-group-description= @survey_group.description
      %hr      
      #survey-questions-container
        - asq.each do |sq|
          = cell(SurveyInvite::Cell::SurveyQuestion, {survey_invite: @survey_invite, survey_question: sq, patch_url: @patch_url, token: @token})

  .links
    = link_to "< Prev", @prev_url, class: "btn btn-warning" if @prev_url
    = link_to "Next >", @next_url, class: "btn btn-success" if @next_url
    = link_to "Finish", @finish_url, class: "btn btn-primary" if @finish_url
