%p.survey-name= "Survey: #{@survey_invite.survey.name}"
%p.survey-description= @survey_invite.survey.description

.row.survey{ data: {url: @patch_url, token: @token} }
  .col
    .row.survey-group
      .col
        %p.survey-group-name= @survey_group.name
        %p.survey-group-description= @survey_group.description
    .row.survey-questions
      .col
        - @survey_questions.each do |sq|
          = cell(SurveyInvite::Cell::SurveyQuestion, {survey_invite: @survey_invite, survey_question: sq})

    .row.survey-answer-links
      .col
        = link_to "< Prev", @prev_url, class: "btn btn-warning" if @prev_url
        = link_to "Next >", @next_url, class: "btn btn-success" if @next_url
        = link_to "Finish", @finish_url, class: "btn btn-primary" if @finish_url
