%h5 Send Survey Invite

= simple_form_for @form, as: :survey_invite, url: admin_survey_survey_invites_path do |f|
  .row
    .col= f.error_notification
  .row
    .col= "Survey: #{@survey.name}"
  .row
    .col#search
      %input.form-control{type: "search", placeholder: "Member Name", data: {url: user_search_path}}
      .autocom-box
      = f.input :user_id, as: :hidden
  .row
    .col= f.input :subject, placeholder: "Subject Line", label: false
  .row
    .col= f.input :body, as: :text, placeholder: "Invitation Text", label: false
  .row
    .col= f.button :submit, "Send Invite", class: "btn-primary"
.row
  .col= link_to "Back", admin_surveys_path
%hr
%ul
  - @survey.survey_questions.each do |q|
    %li= q.question

