%h5= (@users.empty? ? "No " : "") + "Existing Members"

%table{ class: "users table table-bordered table-striped", data: {url: @update_url, token: @token} }
  %thead
    %tr
      %th Name
      %th Greeter
      %th Email
      %th Status
      %th.meeting
        Meeting Schedule
        %br
        %span.tzinfo (GMT)
      %th Request Date
      %th Answers
      %th More
  %tbody
    - @users.each do |u|
      %tr{ data: {id: u.id}}
        %td.user-name
          = u.profile_url ? link_to(u.name, u.profile_url) : u.name
        %td.user-greeter
          = link_to(u.greeter || "make me greeter!", "#", class: "user-greeter")
        %td.user-email
          = link_to u.email, "mailto:#{ u.email }"
        %td.user-status= link_to(u.status, "#", class: "user-status")
        %td.user-meeting-datetime
          - datetime = u.welcome_timestamp ? u.welcome_timestamp.picker_datetime : nil
          %input.datetime-picker.utc-time{ type: "text", value: datetime }
        %td.user-request-date= u.request_timestamp.dow_short_date
        %td.user-questions.more
          %i{ class: "bi bi-arrow-down-square" }
        %td.user-notes.more
          %i{ class: "bi bi-arrow-down-square" }
      %tr.more
        %td.user-questions-more{ colspan: 8, data: { id: u.id } }
          %ol
            - u.questions_responses.split(" -:- ").each do |qna|
              - q, a = *qna.split("\\")
              %li
                %span.question= q
                %br
                %span.answer= a
          - if u.status == "Pending"
            = link_to("Approve", |
              admin_approve_user_path(u.id),  |
              class: "btn btn-primary user-approve", |
              data: { turbo_method: "post", turbo_confirm: "Confirm you want to approve (takes a few minutes)" })

      %tr.more
        %td.user-notes-more{ colspan: 8, data: { id: u.id } }
          %textarea{ cols: "40" }= u.notes
          %span.save-status
