%h5= (@users.empty? ? "No " : "") + "Existing Members"

%table.users.table.table-bordered.table-striped{ data: {url: @update_url, token: @token} }
  %thead
    %tr
      %th Name
      %th Greeter
      %th Status
      %th.meeting
        When?
        %br
        %span.tzinfo (GMT)
      %th Shadow
      %th Notes
      %th.hidden Request
  %tbody
    - @users.each do |u|
      %tr{ data: {url: admin_user_url(u.id), id: u.id}}
        %td.user-name= link_to(u.name, u.profile_url)
        %td.user-greeter= link_to((u.greeter_id ? u.greeter.name : "I will greet"), "#")
        %td.user-status= u.status
        %td.user-meeting-datetime= u.when_timestamp ? u.when_timestamp.picker_datetime : nil
        %td.user-shadow= u.shadow_greeter_id ? u.shadow_greeter.name : nil
        %td.user-notes{ title: truncate(u.notes, length: 500, separator: ' ') }= u.notes_abbreviated
        %td.hidden= u.request_timestamp
