%h5= (@users.empty? ? "No " : "") + "Existing Members"

%table.users.table.table-bordered.table-striped{ data: {url: @update_url, token: @token} }
  %thead
    %tr
      %th Name
      %th Greeter
      %th Email
      %th Status
      %th.meeting
        When
        %br
        %span.tzinfo (GMT)
      %th Shadow
      %th Requested
  %tbody
    - @users.each do |u|
      %tr{ data: {id: u.id}}
        %td.user-name= link_to(u.name, admin_user_url(u.id))
        %td.user-greeter= link_to(u.greeter ? u.greeter : "Make me greeter!", "#", class: "user-greeter")
        %td.user-email= link_to u.email, "mailto:#{ u.email }"
        %td.user-status
          %select
            - @options.each do |opt|
              - selected = (opt == u.status ? "selected" : nil)
              %option{ selected: selected }= opt
        %td.user-meeting-datetime
          - datetime = u.welcome_timestamp ? u.welcome_timestamp.picker_datetime : nil
          %input.datetime-picker.utc-time{ type: "text", value: datetime }
        %td.user-shadow= link_to(u.shadow_greeter ? u.shadow_greeter : "I will shadow!", "#", class: "shadow-greeter")
        %td.user-requested-date= u.request_timestamp.picker_date
