%h5 Greeter View

.row
  .col.controls
    %input#show-all-greetings{ type: "checkbox" }
    %label{ for: "show-all-greetings" } Show all greetings

.row
  .col{ data: {url: user_search_path} }
    %table.users.table.table-bordered.table-striped
      %thead
        %tr
          %th.name Name
          %th.greeter Greeter
          %th.status Status
          %th.meeting
            Zoom Meeting
            %br
            %span.tzinfo (GMT)
          %th.notes Notes
          %th.request Requested
      %tbody
        - @users.each do |u|
          - dataset = {url: u[:url], id: u[:id], status: u[:status], greeter_id: u[:greeter_id] }
          %tr{ class: u[:css_class], data: dataset }
            %td.user-name= u[:name]
            %td.user-greeter= u[:greeter]
            %td.user-status= u[:status]
            %td.user-meeting-datetime.utc-time= u[:when]
            %td.user-notes{ title: u[:truncated] }= u[:notes]
            %td.user-request= u[:request]
      %tfoot
        %tr
          %td{ colspan: 6} No pending requests to join and you have no active greetings
