%h5= (@users.empty? ? "No " : "") + "Existing Members"

%table.users.table.table-bordered.table-striped{ data: {url: @update_url, token: @token} }
  %thead
    %tr
      %th.name Name
      %th.greeter Greeter
      %th.status Status
      %th.meeting
        When?
        %br
        %span.tzinfo (GMT)
      %th.shadow Shadow
      %th.notes Notes
      %th.request Requested
  %tbody
    - @users.each do |u|
      - classnames = []
      - classnames.push("pending") unless u.joined?
      - classnames.push("declined") if "Request Declined" == u.status
      - classnames.push("scheduling") if "Scheduling Zoom" == u.status
      - classnames.push("scheduled") if "Zoom Scheduled" == u.status
      - classnames.push("complete") if u.status.index("(completed)")
      %tr{ data: {url: admin_user_url(u.id), id: u.id}, class: classnames.join(" ") }
        %td.user-name= u.name
        %td.user-greeter= u.greeter_id ? u.greeter.name : ""
        %td.user-status= u.status
        %td.user-meeting-datetime.utc-time= u.when_timestamp ? u.when_timestamp.picker_datetime : nil
        %td.user-shadow= u.shadow_greeter_id ? u.shadow_greeter.name : nil
        %td.user-notes{ title: truncate(u.notes, length: 500, separator: ' ') }= u.notes_abbreviated
        %td.user-request= u.request_timestamp.picker_date
