%h5= (@users.empty? ? "No " : "") + "Existing Members"

%table{ class: "users table table-bordered table-striped", data: {url: @update_url, token: @token} }
  %thead
    %tr
      %th Name
      %th Greeter
      %th Email
      %th Status
      %th Request Date
      %th Answers
      %th More
  %tbody
    - @users.each do |u|
      %tr{ data: {id: u.id}}
        %td.user-name
          = link_to u.name, u.profile_url
        %td.user-greeter
          = link_to(u.greeter || "make me greeter!", "#", class: "user-greeter")
        %td.user-email
          = link_to u.email, "mailto:#{ u.email }"
        %td.user-status= link_to(u.status, "#", class: "user-status")
        %td.user-request-date= u.request_timestamp.dow_short_date
        %td.user-questions.more
          %i{ class: "bi bi-arrow-down-square" }
        %td.user-notes.more
          %i{ class: "bi bi-arrow-down-square" }
      %tr.more
        %td.user-questions-more{ colspan: 7, data: { id: u.id } }
          %ol
            - u.questions_responses.split(" -:- ").each do |qna|
              - q, a = *qna.split("\\")
              %li
                = "Question: #{q}"
                %br
                = "Answer: #{a}"
      %tr.more
        %td.user-notes-more{ colspan: 7, data: { id: u.id } }
          %textarea{ cols: "40" }= u.notes
