%h5 Greeter View

.row
  .col.controls
    %input#my-greetings{ type: "checkbox" }
    %label{ for: "my-greetings" } Show only my greetings

.row
  .col{ data: {url: user_search_path} }
    %table.users.table.table-bordered.table-striped
      %thead
        %tr
          %th.name Name
          %th.greeter Greeter
          %th.status Status
          %th.meeting
            Zoom Meeting
            %br
            %span.tzinfo (GMT)
          %th.shadow Shadow
          %th.notes Notes
          %th.request Requested
      %tbody
        - @users.each do |u|
          %tr{ data: {url: admin_user_url(token: u[:token]), id: u[:id]}, class: u[:classnames] }
            %td.user-name= u[:name]
            %td.user-greeter= u[:greeter]
            %td.user-status= u[:status]
            %td.user-meeting-datetime.utc-time= u[:when]
            %td.user-shadow= u[:shadow]
            %td.user-notes{ title: u[:truncated] }= u[:notes]
            %td.user-request= u[:request]
