- patch_url = admin_user_patch_path(token: @user.token)
- email_url = admin_user_send_email_path(token: @user.token)
- dataset = {url: patch_url, email_url: email_url, token: @token, id: @user.id, timestamp: @user.when_timestamp, greeter_id: @user.greeter_id}

.wizard{ data: dataset }
  .wizard-pane.jumbotron.wizard-links
    %h2.user-name= @user.name
    %p.user-greeter
      Greeter:
      - link_text = @user.greeter_id == @current_user.id ? @current_user.name : "I want to greet"
      = link_to link_text, "#"
    = link_to("👈 Back", admin_users_url, class: "user-back btn btn-secondary")
    = link_to("🙂 Profile", @user.profile_url, class: "user-profile-button btn btn-primary #{@user.profile_url ? "" : "hidden"}", target: "_blank")
    = link_to("💬 Chat", @user.chat_url, class: "user-chat-button btn btn-primary #{@user.chat_url ? "" : "hidden"}", target: "_blank")


  - if "Scheduling Zoom" == @user.status
    -# greeter can compose message to send
    -# button for "Meeting Scheduled" to go to next page
    .wizard-pane.jumbotron.user-email
      %h2 Scheduling a Zoom Greeting via Email
      %input.email-subject.form-control{ placeholder: "Subject" }
      %textarea.email-body.form-control{ placeholder: "Body of greeting" }
      %br
      .email-template-buttons Template buttons will be visible here
      = link_to "Send Email", "#", class: "btn btn-primary email-template-send"
      %p= "Email address: #{@user.email}"
      = link_to "Next >", admin_user_wizard_path(token: @user.token, status: "zoom-scheduled"), class: "btn btn-primary next"


  - if "Zoom Scheduled" == @user.status
    -# greeter can enter date and time for meeting
    -# button for "Meeting Done" to go to congratulatory completed page
    .wizard-pane.jumbotron.user-meeting-datetime
      %h2 Date and time for your greeting
      %p When you get a response to your email, you can record the date and time here.
      - datetime = @user.when_timestamp ? @user.when_timestamp.picker_datetime : nil
      %input.datetime-picker.utc-time.form-control{ type: "text", value: datetime }
      %br
      - url = admin_user_wizard_path(token: @user.token, status: "scheduling-zoom")
      = link_to "< Prev", url, class: "btn btn-primary prev"
      - url = admin_user_wizard_path(token: @user.token, status: "zoom-done")
      = link_to "Greeting Done", url, class: "btn btn-primary done"
      - url = admin_user_wizard_path(token: @user.token, status: "chat-done")
      = link_to "Chat Done", url, class: "btn btn-primary done"
      - url = admin_user_wizard_path(token: @user.token, status: "zoom-declined")
      = link_to "Greeting Declined", url, class: "btn btn-primary done"
      - url = admin_user_wizard_path(token: @user.token, status: "no-resposne")
      = link_to "No Response", url, class: "btn btn-primary done"

  - if @user.status.match /completed/
    -# give greeter a fun celebratory animation
    .wizard-pane.jumbotron.greeting-done
      - result = @user.status.match(/Done/) ? "greeting" : "attempting to greet"
      %h2= "Yay! Thanks for #{result} this new member"


  -# make answers to questions available throughout the process
  = link_to "Reveal answers to questions", "#", class: "reveal-answers padded #{@user.joined? ? nil : "hidden"}"
  .wizard-pane.jumbotron.user-questions{ class: @user.joined? ? "hidden" : "" }
    %h2 Questions and Answers
    %ol.questions-and-answers
      - @user.questions_responses_array.each do |q, a|
        %li
          %span.question= q
          %br
          %span.answer= a
    - if "Pending" == @user.status
      - url = admin_approve_user_path(token: @user.token)
      = link_to "Answers Are Acceptable", url, class: "btn btn-primary user-approve"
      = link_to "Answers Need Clarification", "#", class: "btn btn-warning user-reject"
      .lds-hourglass#spinner
      %span.progress-message Working ...


  .wizard-pane.jumbotron.user-notes
    %h2 Notes
    %p (Record anything here that a greeter might need to know, in case you need to turn over this greeting)
    %textarea= @user.notes
    %span.save-status


  = link_to "Show Details", admin_user_path(token: @user.token), class: "padded"
  %br