%h5 New Survey Question

= simple_form_for @form, as: :survey_question, url: admin_survey_survey_questions_path do |f|
  .row
    .col= f.error_notification
  .row#question-type
    .col
      %select
        - SurveyQuestion::QUESTION_TYPES.each do |o|
          - selected = (o == @model.question_type ? "selected" : nil)
          %option{ selected: selected }= o
      = f.input :question_type, as: :hidden
  .row
    .col= f.input :question, placeholder: "Question", label: false
  .row#answer-type
    .col
      %select
        - SurveyQuestion::ANSWER_TYPES.each do |o|
          - selected = (o == @model.answer_type ? "selected" : nil)
          %option{ selected: selected }= o
      = f.input :answer_type, as: :hidden
  .row
    .col= f.input :has_scale, as: :boolean, label: "Has Scale"
  .row
    .col= f.input :scale_label_left, placeholder: "Scale Label Left", label: false
  .row
    .col= f.input :scale_label_right, placeholder: "Scale Label Right", label: false
  .row
    .col= f.button :submit, "Create Question", class: "btn-primary"
.row
  .col= link_to "Cancel", admin_survey_path(@model.survey_id)

