%hr
.survey-question{ id: question_css_id }
  %div{ class: question_type_class }
    %h3= "~:~ #{answer? ? "QUESTION" : "INSTRUCTIONS / NOTES"} ~:~"
    = question
    - if answer?
      %h3 ~:~ ANSWERS ~:~
      - if has_scale?
        .survey-question-scale-question= "Scale: #{scale_question}"
      = "names = #{names} and question.range? = #{survey_question.range?}"
      - if names || !survey_question.range?
        - survey_invites.each do |invite|
          - next unless invite.started?
          = cell(Survey::Cell::SurveyReportAnswer, {survey_invite: invite, survey_question: survey_question, names: names})
      - else
        - r = compile_ranges
        .survey-invite-answer
          %p.note
            %b= "Range: #{r[:average_answer]} average, #{r[:no_answers]} none, #{r[:answers].size} ranges: (#{r[:answers].join(' ')})"
            %br
            %b= "Scale: #{r[:average_scale]} average, #{r[:no_scales]} none, #{r[:scales].size} scales: (#{r[:scales].join(' ')})"
