!!! XML
!!!
%html
  %head
    %title Emergent Commons Volunteer App
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1" }
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application"
    = stylesheet_link_tag "jquery-ui"
    = stylesheet_link_tag "dtsel"
    = stylesheet_link_tag "datatables"

    %script{ src: "/js/jquery-3.6.0.js" }
    %script{ src: "/js/jquery-ui.js" }
    %script $.widget.bridge('uitooltip', $.ui.tooltip);
    = javascript_include_tag "application", defer: true
    %script{ src: "/js/application.js" }
    %script{ src: "/js/dtsel.js" }
    %script{ src: "/js/datatables.js" }

  %body{ id: @body_id || "admin", class: @body_class }
    .container
      .row
        .col-sm-8
          - flash.each do |type, msg|
            .row.alert.alert-info
              .col.flash{class: type}= msg
        .col-sm-4.right.current-user
          = cell(Layout::Cell::AdminNav, {current_user: @current_user})
      .row
        .col-sm-12
          %h1 Emergent Commons Volunteer App
          = yield
