!!! XML
!!!
%html
  %head
    %title Emergent Commons Volunteer App
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1" }
    %meta{ "http-equiv": "Cache-Control", content: "no-cache, no-store, must-revalidate" }
    %meta{ "http-equiv": "Pragma", content: "no-cache" }
    %meta{ "http-equiv": "Expires", content: "0" }
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application"
    = stylesheet_link_tag "jquery-ui"
    = stylesheet_link_tag "dtsel"
    = stylesheet_link_tag "https://cdn.datatables.net/v/bs5/dt-1.13.1/fc-4.2.1/fh-3.3.1/r-2.4.0/datatables.min.css"
    = stylesheet_link_tag "https://kit.fontawesome.com/d68be63700.css", crossorigin: "anonymous"

    %script{ src: "/js/jquery-3.6.0.js" }
    %script{ src: "/js/jquery-ui.js" }
    %script $.widget.bridge('uitooltip', $.ui.tooltip);
    = javascript_include_tag "application", defer: true
    %script{ src: "/js/application.js" }
    %script{ src: "/js/dtsel.js" }
    %script{ src: "https://cdn.datatables.net/v/bs5/dt-1.13.1/fc-4.2.1/fh-3.3.1/r-2.4.0/datatables.min.js" }
    -# %script{ src: "https://kit.fontawesome.com/d68be63700.js", crossorigin: "anonymous" }

  %body#admin
    .container
      .row
        .col-sm-8
          - flash.each do |type, msg|
            .row.alert.alert-info
              .col.flash{class: type}= msg
        .col-sm-4.right.current-user
          = "Hi #{@current_user.first_name} ^_^"
          = link_to "Logout", logout_url
      .row
        .col-sm-12
          %h1 Emergent Commons Volunteer App
          = yield
