!!! XML
!!!
%html
  %head
    %title Emergent Commons
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1" }
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true

  %body#app{class: @body_class}
    .container
      .row
        .col-sm-8
          - flash.each do |type, msg|
            .row.alert.alert-info
              .col.flash{class: type}= msg
        .col-sm-4.right
          = "Hi #{@current_user.first_name} ^_^"
          = link_to "Logout", logout_url
          - if current_user.has_role? :greeter
            |
            = link_to "Members", admin_users_path
          - if current_user.has_role? :surveyor
            |
            = link_to "Surveys", admin_surveys_path
      .row
        .col-sm-12
          %h1 Emergent Commons App
          = yield
