!!! XML
!!!
%html
  %head
    %title Emergent Commons Survey
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1" }
    %meta{ "http-equiv": "Cache-Control", content: "no-cache, no-store, must-revalidate" }
    %meta{ "http-equiv": "Pragma", content: "no-cache" }
    %meta{ "http-equiv": "Expires", content: "0" }
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "jquery-ui"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "notes"

    %script{ src: "/js/jquery-3.6.0.js" }
    %script{ src: "/js/jquery-ui.js" }
    %script $.widget.bridge('uitooltip', $.ui.tooltip);
    = javascript_include_tag "application", defer: true
    %script{ src: "/js/application.js" }
    %script{ src: "/js/datatables.js" }
    %script{ src: "/js/dragmove.js" }

  %body{ id: @body_id }
    .container
      .row
        .col-sm-12
          - flash.each do |type, msg|
            .row.alert.alert-info
              .col.flash{class: type}= msg
      .row
        .col-sm-12
          %h1 Emergent Commons Survey
          = yield
