%h5= (@members.empty? ? "No " : "") + "Existing Members"
%p= link_to "Add Member", new_admin_member_url

%table{ class: "members table table-bordered table-striped" }
  %thead
    %tr
      %th Name
      %th Greeter
      %th Email
      %th Status
      %th Request Date
      %th Answers
      %th More
  %tbody
    - @members.each do |m|
      %tr
        %td.member-name
          = link_to m.name, m.profile_url
        %td.member-greeter
          = m.greeter || link_to("make me greeter!", "#", class: "member-greeter")
        %td.member-email
          = link_to m.email, "mailto:#{ m.email }"
        %td.member-status= m.status
        %td.member-request-date= m.request_timestamp.dow_short_date
        %td.member-questions.more{ data: { target: "tr.member-questions" } }
          %i{ class: "bi bi-arrow-down-square" }
        %td.member-actions.more{ data: { target: "tr.member-more" } }
          %i{ class: "bi bi-arrow-down-square" }
      %tr.member-questions
        %td{ colspan: 7, data: { id: m.id } }
          %ol
            - @qna = m.questions_responses.gsub("\\", "</p><p>Answer: ").split(" -:- ").join("</p></li><li><p>")
            %li
              %p!= @qna
      %tr.member-more
        %td{ colspan: 7, data: { id: m.id } }
          %p= m.notes
